body{
	background-color: #ffee00;}

#wrapper{
	position: relative;
	height: 1000px;
	width: 800px;
	margin: auto;
	}

h1{
	color: #119933;
	}
#errortable td{
	color: red;
	font-weight: bold;
	background-color: #00ffff;
	}
	
#VT td, tr, th{
	border-spacing: 1px;
	border: 1px solid;
	}
#VT th{
	background-color: red;
	}


